<div class="profile">
  <p><b>COMPANY'S INFORMATION</b></p>
  <p>Joined Date:<span class="field">Nov 12, 2018</span></p>
  <p>Employed Date:<span class="field">Empty</span></p>
  <p>Employee Type:<span class="field">Intern</span></p>
  <p>Position:<span class="field">Empty</span></p>
  <p>Team(s)::<span class="field">FE</span></p>
  <p>Group(s):<span class="field">Empty</span></p>
  <p>Line Manager:<span class="field">Toan Nguyen T.</span></p>
  <p>Secondary Manager(s):<span class="field">Empty</span></p><br/>
  <button type="submit">Change Password</button>
</div>

